:root {
  --primary-color: black;
  --secondary-color: #f8f9fa;
  --accent-color: #ce5656;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Nunito Sans", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: var(--heading-font-family);
}

h1 {
  color: var(--accent-color);
  font-size: 90px;
}

p {
  color: white;
  font-family: var(--default-font-family);
  font-size: 15px;
}

/* Navbar Start*/

.navbar-dark {
  background-color: var(--primary-color) !important;
}

.logo {
  width: 50px;
}

#navbarNav a {
  font-family: var(--default-font-family);
  font-size: 18px;
  margin: 5px;
}

.navbar-toggler span i {
  color: var(--accent-color);
  font-size: 28px;
}

/* Navbar End*/

/*Hero Start*/

.hero {
  background: var(--primary-color);
  padding: 200px 0;
}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.typing-demo {
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  border-right: 2px solid white;
  color: white;
  font-family: var(--default-font-family);
  font-size: 20px;
  line-height: 2;
  overflow: hidden;
  white-space: nowrap;
  width: 16ch;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.hero-button {
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  font-family: var(--default-font-family);
  font-size: 16px;
  font-weight: light;
  margin: 20px;
  padding: 15px 25px;
}

.hero-button:hover {
  border: 1px solid #ce5656;
  background-color: var(--accent-color);
  color: white;
  transition: all 150ms ease-in-out;
}

/*Hero End*/

/* Project Start*/

.project-hero {
  background-color: var(--secondary-color);
  color: var(--accent-color);
}

.project-hero-title {
  font-family: var(--default-font-family);
  font-size: 32px;
  font-weight: bold;
}

.project-img {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-width: 80%;
}

.description {
  padding: 100px 60px 120px 0px;
}

.description h2 {
  font-size: 45px;
}

.project-img-mobile {
  background-color: var(--secondary-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 20px auto;
}

.project-description {
  color: #49494a;
  font-family: var(--default-font-family);
  font-size: 15px;
}

.secondary-button {
  background-color: black;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  font-family: var(--default-font-family);
  font-weight: light;
  margin-top: 20px;
  padding: 15px 25px;
}

.secondary-button:hover {
  background-color: black;
  border: 1px solid black;
  color: var(--accent-color);
}

/* Project End*/

/* Footer Start*/

.footer {
  background: var(--secondary-color);
}

.footer a {
  color: #212529;
  transition: all 200ms ease-in-out;
}

.footer a:hover {
  color: var(--accent-color);
}

.footer i {
  font-size: 25px;
}

/* Footer End*/

/* About Page Start */

.about {
  padding: 120px 0 40px;
}

.about h1 {
  color: var(--accent-color);
  font-size: 50px;
}

.about p {
  background: rgba(248, 249, 250, 0.6);
  border-radius: 4px;
  color: black;
  font-family: var(--default-font-family);
  font-size: 15px;
  margin: 0 auto;
  text-align: justify;
  width: 350px;
}

/* About Page End */

/* Project Page Start */

.project-head-title {
  background: var(--secondary-color);
  color: var(--accent-color);
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 100px 0;
}

/* Project Page End */